/* Reset + body */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0b0b0b;
    color: #f2f2f2;
  }
  
  /* Navbar */
  header {
    background: rgba(10, 10, 10, 0.95);
    border-bottom: 2px solid #e10600;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
  }
  .logo h1 {
    color: #fff;
    font-size: 1.8rem;
    text-transform: uppercase;
    text-shadow: 0 0 10px rgba(225, 6, 0, 0.4);
  }
  .nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
  }
  .nav-links a {
    color: #ccc;
    text-decoration: none;
    font-weight: 600;
  }
  .nav-links a:hover {
    color: #fff;
    border-bottom: 2px solid #e10600;
  }
  .btn-logout {
    text-decoration: none;
    background: linear-gradient(90deg, #e10600, #b00000);
    color: #fff;
    padding: 10px 22px;
    border-radius: 25px;
    font-weight: 600;
  }
  .btn-logout:hover {
    background: #fff;
    color: #e10600;
  }
  
  /* Header text */
  .dashboard-header {
    text-align: center;
    padding: 60px 20px 30px;
    background: radial-gradient(circle at top left, #151515, #000);
  }
  .dashboard-header h2 {
    color: #e10600;
    font-size: 2rem;
    margin-bottom: 10px;
  }
  .dashboard-header p {
    color: #ccc;
    font-size: 1.1rem;
  }
  
  /* Vehicle section */
  .vehicle-section {
    padding: 70px 8%;
    background: #101010;
  }
  .vehicle-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 2rem;
  }
  .vehicle-card {
    background: #181818;
    border-radius: 15px;
    text-align: center;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(225, 6, 0, 0.25);
    transition: 0.3s;
  }
  .vehicle-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 0 35px rgba(225, 6, 0, 0, 0.45);
  }
  .vehicle-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    filter: brightness(90%);
  }
  .vehicle-card h3 {
    color: #e10600;
    font-size: 1.3rem;
    margin: 10px 0;
    text-transform: uppercase;
  }
  .vehicle-info {
    color: #ccc;
    font-size: 0.95rem;
    padding: 0 15px 20px;
    text-align: left;
  }
  .status.available {
    color: #0f0;
  }
  .status.booked {
    color: #f00;
  }
  .book-btn {
    display: inline-block;
    background: #e10600;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin-bottom: 15px;
    border-radius: 25px;
    font-weight: bold;
    transition: 0.3s;
  }
  .book-btn:hover {
    background: #fff;
    color: #e10600;
    transform: scale(1.05);
  }
  .book-btn.disabled {
    background: #555;
    pointer-events: none;
    color: #999;
  }
  
  /* Footer */
  footer {
    text-align: center;
    background: #111;
    padding: 25px 0;
    color: #999;
    border-top: 2px solid #e10600;
  }
  